# mpv tmp
mpv-binaries/windows-x64/portable_config/cache/
mpv-binaries/windows-x64/portable_config/watch_later/

# Dépendances
node_modules/

# Fichiers de build
dist/
build/
out/
release/

# Fichiers TypeScript compilés
*.js.map


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système d'exploitation
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo